@layer components {
.tooltip {
  @apply bg-background text-foreground p-5
}

.district__text {
@apply font-space-grotesk font-semibold
}


/* Legend */
.map-legend {
@apply bg-black translate-y-[-25px] translate-x-[-90px] h-auto
}
.map-legend__text {
  @apply text-fdfp-main font-space-grotesk text-[11px] font-medium
}

#legend {
  @apply w-fit grid grid-cols-3 grid-flow-row gap-6 gap-x-[2rem] font-space-grotesk text-[12px]
}

#legend-title {
@apply text-foreground font-space-grotesk text-[12px] font-normal uppercase mb-6
}

.legend-item {
@apply flex items-center gap-4
}

}

.tooltip {
  position: absolute;
  background-color: var(--background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--foreground);
  pointer-events: none;
  visibility: hidden;
  padding: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  font-family: var(--font-clash-display);
  text-align: left;
}

/* Tooltip visible state */
.tooltip.visible {
  visibility: visible;
  opacity: 1;
}
