.breadcrumb {
    padding: 2rem 0 2rem 0;
    /* background-color: white; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* font-size: 1.6rem; */
}