

.dashboard__maintainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  margin-top: 2rem;
  gap: 2rem;
}


/* breackpoint */
@media (max-width: 1225px) {
.dashboard__maintainer {
    grid-template-columns: 1fr;
  }
}